.step_five {
	width: 100%;
	margin: 0 auto;
	padding: 2.5rem 1.5rem;
	transition: 300ms ease;

	.hero_section {
		margin-bottom: 2.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		transition: 300ms ease;

		h1 {
			font-size: 1.5rem;
			font-weight: 600;
		}

		& > p {
			font-size: 1rem;
			font-weight: 400;
		}
	}

	& > button {
		width: 200px;
		margin: 1.5rem auto 0;
		padding: 0.5rem 1rem;
		border: 2px solid var(--background);
		border-radius: 2rem;
		font-size: 0.9rem;
		text-align: center;
		display: block;
		cursor: pointer;
	}

	.summary {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;

		.item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;

			.column {
				h2 {
					font-size: 1.125rem;
					font-weight: 500;
				}

				h3 {
					font-size: 1rem;
					font-weight: 400;
					opacity: 0.75;
				}

				h4 {
					font-size: 0.9rem;
					font-weight: 400;
				}
			}

			svg {
				min-width: 2rem;
				font-size: 1.5rem;
			}
		}
	}
}

@media screen and (min-width: 475px) {
	.step_five {
		max-width: 600px;

		.hero_section {
			text-align: center;
			gap: 1rem;

			h1 {
				font-size: 2rem;
				font-weight: 700;
			}

			p {
				font-size: 1.25rem;
			}
		}
	}
}
