:root {
	--foreground: #21416c;
	--background: #fafafa;

	--accent: #376ae2;
	--light-accent: #5c7999;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
button,
input {
	color: var(--background);
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

button,
input {
	background: none;
	border: none;
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

html {
	overflow-x: hidden;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.rdp_chevron {
	fill: var(--background);
	display: inline-block;
}

.rdp_day {
	width: var(--rdp-day-width);
	height: var(--rdp-day-height);
	text-align: center;

	&.rdp-today {
		color: var(--background) !important;
	}

	&.rdp-selected {
		.rdp-day_button {
			border-color: var(--background);
		}
	}
}
