.step_one {
  padding: 2.5rem 1.5rem;
  width: 100%;
  margin: 0 auto;
  transition: 300ms ease;

  .hero_section {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: 300ms ease;

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    & > p {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  & > button {
    border: 2px solid var(--background);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    text-align: center;
    margin: 1.5rem auto 0;
    display: block;
    width: 200px;
    cursor: pointer;
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .option {
      background-color: var(--background);
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      color: var(--foreground);
      font-size: 0.9rem;
      text-align: center;
      transition: 200ms ease;
      cursor: pointer;

      &:hover {
        background-color: #dedede;
      }

      &.checked {
        background-color: transparent;
        border: 2px solid var(--background);
        color: var(--background);
      }
    }
  }
}

@media screen and (min-width: 475px) {
  .step_one {
    max-width: 600px;

    .hero_section {
      text-align: center;
      gap: 1rem;

      h1 {
        font-size: 2rem;
        font-weight: 700;
      }

      p {
        font-size: 1.25rem;
      }
    }

    .options {
      margin: 0 auto;
      max-width: 375px;
    }
  }
}
