:root {
  --foreground: #21416c;
  --background: #fafafa;

  --accent: #376ae2;
  --light-accent: #5c7999;
  --green: #10c76b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
button,
input {
  color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

body {
  overflow-x: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: var(--accent);
  --rdp-background-color: var(--accent);
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: var(--accent);
  --rdp-background-color-dark: #180270;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}

// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
